n8n/n8n_publicar_programado.json
{
  "name": "NewsFlow - Publicar Programado (Cron)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 15 }]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-600, 0],
      "id": "22222222-2222-2222-2222-222222222201",
      "name": "Cada 15 minutos"
    },
    {
      "parameters": {
        "url": "https://iajrttxaxutvwubjcaxc.supabase.co/rest/v1/social_posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlhanJ0dHhheHV0dnd1YmpjYXhjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYwOTkwOTAsImV4cCI6MjA5MTY3NTA5MH0.7EasCvg0qSf-OXlXYQAfmQZwe2lCmk1jRjQnNk6qd54" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlhanJ0dHhheHV0dnd1YmpjYXhjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYwOTkwOTAsImV4cCI6MjA5MTY3NTA5MH0.7EasCvg0qSf-OXlXYQAfmQZwe2lCmk1jRjQnNk6qd54" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "aprobado",  "value": "eq.true" },
            { "name": "publicado", "value": "eq.false" },
            { "name": "fecha",     "value": "=lte.{{ new Date().toISOString() }}" }
          ]
        },
        "options": { "splitIntoItems": true }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-360, 0],
      "id": "22222222-2222-2222-2222-222222222202",
      "name": "Get Posts Pendientes"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [{
            "id": "has-id",
            "leftValue": "={{ $json.id }}",
            "rightValue": "",
            "operator": { "type": "string", "operation": "notEmpty", "singleValue": true }
          }],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-120, 0],
      "id": "22222222-2222-2222-2222-222222222203",
      "name": "Tiene posts?"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
                "conditions": [{
                  "id": "cond-li",
                  "leftValue": "={{ $json.red_social }}",
                  "rightValue": "LinkedIn",
                  "operator": { "type": "string", "operation": "equals" }
                }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "LinkedIn"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
                "conditions": [{
                  "id": "cond-x",
                  "leftValue": "={{ $json.red_social }}",
                  "rightValue": "X",
                  "operator": { "type": "string", "operation": "equals" }
                }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "X"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [120, -80],
      "id": "22222222-2222-2222-2222-222222222204",
      "name": "Red Social"
    },
    {
      "parameters": {
        "person": "KkfNk2EbKo",
        "text": "={{ $json.texto_enriquecido || $json.texto }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [360, -180],
      "id": "22222222-2222-2222-2222-222222222205",
      "name": "Publicar LinkedIn",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "Te1DgFQnZ4AJsAMs",
          "name": "LinkedIn account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// TODO: conectar X/Twitter\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [360, 20],
      "id": "22222222-2222-2222-2222-222222222206",
      "name": "TODO: Publicar X"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://iajrttxaxutvwubjcaxc.supabase.co/rest/v1/social_posts?id=eq.{{ $('Get Posts Pendientes').item.json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlhanJ0dHhheHV0dnd1YmpjYXhjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYwOTkwOTAsImV4cCI6MjA5MTY3NTA5MH0.7EasCvg0qSf-OXlXYQAfmQZwe2lCmk1jRjQnNk6qd54" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlhanJ0dHhheHV0dnd1YmpjYXhjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYwOTkwOTAsImV4cCI6MjA5MTY3NTA5MH0.7EasCvg0qSf-OXlXYQAfmQZwe2lCmk1jRjQnNk6qd54" },
            { "name": "Prefer",        "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            { "name": "publicado",          "value": "=true" },
            { "name": "estado",             "value": "Publicado" },
            { "name": "fecha_modificacion", "value": "={{ new Date().toISOString() }}" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [600, -80],
      "id": "22222222-2222-2222-2222-222222222207",
      "name": "Marcar Publicado"
    }
  ],
  "connections": {
    "Cada 15 minutos": {
      "main": [[{ "node": "Get Posts Pendientes", "type": "main", "index": 0 }]]
    },
    "Get Posts Pendientes": {
      "main": [[{ "node": "Tiene posts?", "type": "main", "index": 0 }]]
    },
    "Tiene posts?": {
      "main": [
        [{ "node": "Red Social", "type": "main", "index": 0 }],
        []
      ]
    },
    "Red Social": {
      "main": [
        [{ "node": "Publicar LinkedIn", "type": "main", "index": 0 }],
        [{ "node": "TODO: Publicar X",  "type": "main", "index": 0 }]
      ]
    },
    "Publicar LinkedIn": {
      "main": [[{ "node": "Marcar Publicado", "type": "main", "index": 0 }]]
    },
    "TODO: Publicar X": {
      "main": [[{ "node": "Marcar Publicado", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": []
}
